.page-divider {
    border-bottom: 1px solid #000000;
    border-bottom-width: 2px;
}

.icon {
    float: left;
}

#navbarResponsive {
    float: right;
    bottom: 0;
    right: 0;
}

#top-nav nav li {
    font-size: 22px;
    font-weight: bold;
}

.container-padder {
    padding-top: 2%;
}

.row {
    padding-top: 4%;
    padding-bottom: 4%;
}

.container {
    font-family: 'Amiko';
}

#content .h1 {
    font-size: 22px;
}

#content p {
    font-size: 18px;
}

.fa-github {
    float: right;
    color: black;
}

footer {
    color: #d5d5d5;
    width: 100%;
    bottom: 0;
    position: fixed;
}